.completed {
  text-decoration: line-through;
}

main {
  margin: 0 auto;
}

li.collection-item {
  margin-bottom: 9px !important;
  margin-left: 4px !important;
  text-align: center;
  border-bottom: none;

  i.done {
    float: right;
    color: #1f7921;
  }

  i.remove {
    float: right;
    color: #b90000;
  }

}

.hidden {
  display: none;
}

.filter-active {
  border: 1px solid #c8c8c8;
  border-radius: 9px;
  background-color: #ECEFEA !important;
  padding: 2px 20px !important;
}

.filter {
  display: inline-block;
}

.collection {
  border: 0 !important
}

#tasks_list {
  height: auto;
  min-height: 200px;
}
