.completed {
  text-decoration: line-through;
  font-size: 20px;
}
header {
  padding: 30px;
}


li {
  margin-bottom: 9px !important;
  text-align: center;

    i {
      float: right;
    }
}

.collection {
  border: 0 !important
}


form {
  display: inline-block;
  text-align: center;
}

#tasks_list {
  height: auto;
  min-height: 200px;
}